/* Head of de Page*/
*{
    text-decoration: none;
    background-color: #251b1b;
    color: #DCDCDC;
    margin-left: 5px;
    margin-right: 5px;
}

header div{
    padding: 10px;
    display: inline-flex;
}

.navbar {
    display: flex;align-items: center; justify-content: space-between;
}

.brand {
    font-size: small; font-weight: bold;
}

.head_name {
    font-size: 25px;
}

.social_links li {
    list-style: none; display: inline-block;
}

.social_links li a {
    font-size: 18px; font-weight: bold; margin-right: 25px;
}













/* Main Contens of de page (Body) */

.real-body {
    display: flex;
    
}

.left-aside{
    margin: 10px;
    padding: 15px;
}

.main-box {
    
    display: flex;
}

.main-box main {
    margin: 20px;
}

.right-aside {
    margin: 10px
}




/* Footer of de page*/

footer {
    text-align: center; font-size: 20px;
    padding: 20px;
    margin: 40px;
}